<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Your account are not allowed to access this page</h2>
        <p>Please, click the button below to be redireced to the home page </p>
        <hr />
        <p>

            <a asp-action="Index" asp-controller="Movies" class="btn btn-outline-success" >Home Page</a>
        </p>
    </div>
</div>